a {
  text-decoration: none;
}

body {
  font-family: Arial;
  background: linear-gradient(#0077BB, #00AADD);
  text-align: center;
}

/* ------- HEADER ------- */

h1 {
  color: #F80;
  text-shadow: 0px 0px 10px #FF0000;
}

h2 {
  color: yellow;
  text-shadow: 0px 0px 10px yellow;
  text-decoration: underline;
}

a:visited {
  color: yellow;
}

#napierlink {
  text-decoration: none;
  color: #00BBFF;
  text-shadow: 0px 0px 10px #202020;
}

#back {
  left: 5%;
  position: fixed;
  background: linear-gradient(#00BBFF, #0063ff);
  color: yellow;
  box-shadow: 0px 0px 10px #202020;
  text-shadow: 0px 0px 10px #202020;
  border: outset #00BBFF;
  font-size: 50%;
  text-decoration: none;
  padding: .5%;
}

#back:hover {
  cursor: pointer;
}

#back:active {
  border: inset #0063ff;
}

#pictureofme {
  height: 133.33px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}

/* ------- CONTENT ------- */

#merchiston {
  border-radius: 5px;
  box-shadow: 0px 0px 10px #202020;
  width: 170px;
  height: 218px;
}

#merchistonmodel {
  border-radius: 5px;
  box-shadow: 0px 0px 10px #202020;
  width: 388px;
  height: 218px;
}

#proof {
  width: 979px;
  height: 734px;
}

.text,
#review {
  color: yellow;
  text-shadow: 0px 0px 2px #FFFF66;
}

#napierimg {
  background: #00BBFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #202020;
  text-shadow: 0px 0px 10px #202020;
}

.define {
  text-decoration: none;
  color: yellow;
  text-shadow: 0px 0px 10px #202020;
}

#jnapierbutton {
  outline: none;
  background: linear-gradient(#00BBFF, #0063ff);
  color: yellow;
  box-shadow: 0px 0px 10px #202020;
  text-shadow: 0px 0px 10px #202020;
  border: outset #00BBFF;
  border-radius: 5px;
  text-decoration: none;
  padding: .5%;
}

#jnapierbutton:hover {
  cursor: pointer;
}

#jnapierbutton:active {
  border: inset #0063ff;
}

.friendlist-btn {
  outline: none;
  background: linear-gradient(#00BBFF, #0063ff);
  color: yellow;
  box-shadow: 0px 0px 10px #202020;
  text-shadow: 0px 0px 10px #202020;
  border: outset #00BBFF;
  border-radius: 5px;
  text-decoration: none;
  padding: .5%;
}

.friendlist-btn:hover {
  cursor: pointer;
}

.friendlist-btn:active {
  border: inset #0063ff;
}

/* ------- FOOTER ------- */

footer {
  width: 99%;
  background: #00BBFF;
  bottom: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #202020;
  text-shadow: 0px 0px 10px #202020;
  opacity: 0.85;
}

#steam {
  width: 16px;
  height: 16px;
  padding-left: .15%;
}

#aboutme {
  text-decoration: none;
  color: #2aff00;
}

#webhost,
#madeby,
#contact {
  color: yellow;
}

#_000webhost,
#srcs {
  text-decoration: none;
  color: #FF3535;
  text-shadow: 0px 0px 2px #AA5858;
}